<tr>
  <td>
    <div id="railway_station_title_<%= railway_station.id %>">
      <%= railway_station.name %>
    </div>
    <%= render 'form', railway_station: railway_station, hidden: true %>
  </td>
  <td><%= link_to 'Показать', admin_railway_station_path(railway_station) %></td>
  <td><%= link_to 'Редактировать', '', class: 'edit_station', data: { station_id: railway_station.id } %></td>
  <td><%= link_to 'Удалить', admin_railway_station_path(railway_station), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>