<%= form_tag(result_path, method: :get) do %>

    <div class='form-group'>
      <label><%= t('search.station_from') %>:</label>
      <%= select_tag "search[first_station_id]", options_from_collection_for_select(@stations, :id, :name), class: 'form-control' %>
    </div>
    <div class='form-group'>
      <label><%= t('search.station_to') %>:</label>
      <%= select_tag "search[last_station_id]", options_from_collection_for_select(@stations, :id, :name), class: 'form-control' %>
    </div>
    <%= submit_tag t('search.submit'), class: 'btn btn-primary' %>

<% end %>