<h1>По вашему запросу найдены следующие данные</h1>

<table>
  <thead>
    <tr>
      <td>№ Поезда:</td>
      <td>Маршрут:</td>
      <td>Станция:</td>
      <td>Прибытие:</td>
      <td>Отправление:</td>
      <td>Действие:</td>
    </tr>
  </thead>
  <tbody>
    <% @result.each do |route| %>
      <tr>
        <%= form_tag(buy_ticket_path, method: :post) do %>
          <td> <%= route.train_number %> </td>
          <td> <%= route.route_name %> </td>
          <td> <%= route.railway_station_name %> </td>
          <td> <%= route.arrival_time.to_time.strftime('%H:%M')%> </td>
          <td> <%= route.departure_time.to_time.strftime('%H:%M') %> </td>
          <td> <%= submit_tag 'Купить' %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

