<p id="notice"><%= notice %></p>

<p>
  <strong>Наименование:</strong>
  <%= @route.name %>
</p>

<p>
  <% if @route.trains.empty? %>
    <strong>Поездов на маршруте нет.</strong>
  <% else %>
    <% @route.trains.each do |train| %>
      <strong> Поезд №: <%= train.number %> </strong>
    <% end %>
  <% end %>
</p>

<p>
  <% if @route.railway_stations.empty? %>
      <strong>Станций в маршруте нет</strong>
  <% else %>
      <strong>Станции в маршруте:</strong>
      <table>
        <thead>
          <tr>
            <td>Наименование</td>
            <td colspan="2">#</td>
            <td>Время отправления:</td>
            <td>Время прибытия:</td>
            <td>Действия</td>
          </tr>
        </thead>
        <tbody>
          <% @route.railway_stations.ordered.each do |station| %>
            <tr>
              <td> <%= station.name %> </td>
              <%= form_tag update_position_railway_station_path(station), method: :patch do %>
                <td> <%= number_field_tag :position, station.position_in(@route) %> </td>
                <%= hidden_field_tag :route_id, @route.id %>
                <td> <%= submit_tag 'Изменить' %> </td>
              <% end %>

              <%= form_tag update_time_railway_station_path(station), method: :patch do %>
                <%= hidden_field_tag :route_id, @route.id %>
                <td> <%= time_select :arrival_time, :arrival_time, :default => station.arrival(@route) %> </td>
                <td> <%= time_select :departure_time, :departure_time, :default => station.departure(@route) %> </td>
                <td> <%= submit_tag 'Обновить время' %> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
