<nav>
  <%= link_to 'Поиск билетов', search_path %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Станции', admin_railway_stations_path %>
      <%= link_to 'Поезда', admin_trains_path %>
      <%= link_to 'Маршруты', admin_routes_path %>
      <%= link_to 'Билеты', admin_tickets_path %>
     <% else %>
      <%= link_to 'Билеты', tickets_path %>
     <% end %>
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path %>
  <% end %>
</nav>