<nav>
  <%= link_to 'Поиск билетов', search_path %>
  <%= link_to 'Станции', railway_stations_path %>
  <%= link_to 'Поезда', trains_path %>
  <%= link_to 'Маршруты', routes_path %>
  <%= link_to 'Билеты', tickets_path %>
  <%= link_to 'Пользователи', users_path %>
</nav>